/* Styling for error page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    color: #444;
}

#error-container {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}
