body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    padding: 40px 0;
}

.header-link {
    margin-left: 60px;
}

.login-container {
    background-image: url('../img/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 120px 0 90px;
}

.login-section-image {
    width: 50%;
    transform: scale(0.9);
}

.login-section-container {
    width: 40%;
    position: relative;
    top: -50px;
}

.login-section-container-title {
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 0;
    color: #fff;
}

.login-section-container-description {
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}

.login-section-container-description-link {
    font-size: 20px;
    color: #1B3E85;
}

.login-section-container-form-input-wrapper {
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-section-container-form-input {
    border: none;
    height: 42px;
    flex-grow: 1;
    font-size: 18px;
    margin-left: 20px;
    outline: none;
    background-color: #fff;
}

.mb0 {
    margin-bottom: 0;
}

.login-section-container-form-login {
    padding: 13px 56px;
    color: #000;
    background-color: #fff;
    font-size: 27px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.login-section-container-form-login:hover {
    box-shadow: 7px 7px 10px rgb(37, 36, 36);
}

.login-section-container-form-signup {
    padding: 13px 26px;
    font-size: 27px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: .5s;
}

.login-section-container-form-signup:hover {
    box-shadow: 7px 7px 10px rgb(37, 36, 36);
}


.login-section-container-options-wrapper {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.login-section-container-options-checkbox-wrapper {
    transition: .5s;
}

.login-section-container-options-wrapper:hover .login-section-container-options-checkbox-wrapper {
    color: #fff;
}

.login-section-container-options-old-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.login-section-container-options-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    box-sizing: border-box;
    transition: .5s;
}

.login-section-container-options-wrapper:hover .login-section-container-options-checkmark {
    border-color: #fff;
}

.login-section-container-options-old-checkbox:checked+.login-section-container-options-checkmark {
    background-color: #00B5AD;
    border: none;
}

.login-section-container-options-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.login-section-container-options-old-checkbox:checked+.login-section-container-options-checkmark:after {
    display: block;
}

.login-section-container-options-wrapper {
    cursor: pointer;
}

.login-section-container-options-checkbox-wrapper {
    cursor: pointer;
    font-size: 19px;
    color: #BDBDBD;
}

.active-label {
    color: #fff;
}

.login-section-container-options-link {
    color: #BDBDBD;
    font-size: 19px;
    transition: .5s;
}

.login-section-container-options-link:hover {
    color: #fff;
}

.login-section-container-options {
    display: flex;
    justify-content: space-between;
}

.login-section-form-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.login-section-form-social-description {
    text-align: center;
    font-size: 21px;
    color: #fff;
    display: block;
    margin: 0 10px;
}

.login-section-form-social-description-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-section-form-social-description-line {
    flex-grow: 1;
    background-color: #fff;
    height: 1px;
    border: none;
}

.login-section-form-social-icon-wrapper {
    display: flex;
    justify-content: center;
}

.login-section-form-social-icon {
    margin-right: 20px;
}

.mr0 {
    margin-right: 0;
}

@media (max-width: 1585px) {
    .login-section-container-form-login {
        font-size: 20px;
        padding: 13px 35px;
    }

    .login-section-container-form-signup {
        font-size: 20px;
        padding: 13px 13px;
    }
}

@media (min-width: 1400px) and (max-width: 1585px) {
    .login-section-container-form-login {
        padding: 13px 50px;
    }

    .login-section-container-form-signup {
        padding: 13px 29px;
    }
}

.error-message {
    color: red;
}