<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/forgot-password.css">
</head>

<body>
<div class="reset-container">
    <header class="header">
        <a th:href="@{/forgot-password}" class="header-link"><img src="/static/img/iba-login-logo.png"
                                                                  alt="IBA Tech Academy"></a>
    </header>

    <section class="reset-section">
        <img class="reset-section-image" src="/static/img/login-img.png" alt="robot w/ computers">
        <div class="reset-section-container">
            <h1 class="reset-section-container-title">Forgot Password</h1>
            <p class="reset-section-container-description">We’ll e-mail you instruction on how to reset your
                password</p>
            <form th:action="@{/forgot-password}" class="reset-section-container-form" method="post">
                <div class="reset-section-container-form-input-wrapper">
                    <img src="/static/img/mail-icon.svg" alt="User Icon">
                    <label for="email"></label>
                    <input name="email" class="reset-section-container-form-input" id="email"
                           placeholder="Email address"
                           type="email" required>
                </div>
                <div>
                    <span class="go-back-text">Go back to
                        <a th:href="@{/login}" class="go-back-link">Login</a>
                    </span>
                </div>
                <input type="submit" value="RESET PASSWORD" class="reset-section-container-form-login"/>
            </form>
        </div>
    </section>
</div>

</body>

</html>