<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="/static/css/user-profile.css">
    <link rel="stylesheet" href="/static/css/short-url.css">
</head>

<body>

<header class="main-header">
    <a th:href="@{/url/landing}" class="main-header-logo"><img src="/static/img/iba-tech-logo-white.svg"
                                                             alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-username" th:text="*{userName}"></span>
                <div class="log-out-block" th:href="@{/logout}">
                    <img src="/static/img/log-out-icon.svg" alt="Log out">
                    <a class="log-out-btn" th:href="@{/logout}">Log out</a>
                </div>
            </div>
            <img class="main-header-user-icon" src="/static/img/user-icon-with-background.svg" alt="User Icon">
        </div>
    </div>
</header>
<main class="short-url-container">
    <div>
        <img src="/static/img/short-url-robot.png" class="short-url-img" alt="robot">
    </div>
    <div class="short-url-content">
        <h2 class="short-url-title">Url Shortener APP!</h2>
        <p class="short-url-text">You can shorten your full url with one click ! Get started
            with clicking the get started button! </p>
        <a th:href="@{/url/mainPage}" class="short-url-btn">get started</a>
    </div>
</main>
</body>

</html>