<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="/static/js/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/checkbox.js"></script>
    <script src="/static/js/form-validation.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
<div class="login-container">
    <header class="header">
        <a th:href="@{/login}" class="header-link"><img src="/static/img/iba-login-logo.png" alt="IBA Tech Academy"></a>
    </header>

    <form id="myForm" th:action="@{/login}" method="POST" th:object="${user}" class="login-section-container-form">
        <section class="login-section">
            <img class="login-section-image" src="/static/img/login-img.png" alt="robot w/ computers">
            <div class="login-section-container">
                <h1 class="login-section-container-title">Welcome Back!</h1>
                <p class="login-section-container-description">To keep connected with us please login with personal
                    information by email address and password</p>
                <span id="myError" th:if="${error} != null" th:text="${error}" class="error-message" th:onsubmit=""></span>
                <div class="login-section-container-form-input-wrapper">
                    <img src="/static/img/mail-icon.svg" alt="User Icon">
                    <label for="email"></label>
                    <input class="login-section-container-form-input" id="email"
                           th:field="*{email}" placeholder="Email address"
                           type="email">
                    <p id="emailError" class="error-message"></p>
                </div>
                <div class="login-section-container-form-input-wrapper">
                    <img src="/static/img/lock-icon.svg" alt="User Icon">
                    <label for="password"></label>
                    <input class="login-section-container-form-input" id="password" placeholder="Password"
                           th:field="*{password}" type="password">
                    <p id="passwordError" class="error-message"></p>
                </div>
                <div class="login-section-container-options">
                    <div class="login-section-container-options-wrapper">
                        <label class="login-section-container-options-checkbox-wrapper">Remember Me
                            <input type="checkbox" class="login-section-container-options-old-checkbox"
                                   th:checked="*{isRemembered}"
                                   name="isRemembered" id="isRemembered"
                                   th:value="true">
                            <span class="login-section-container-options-checkmark"></span>
                        </label>
                    </div>
                    <a th:href="@{/forgot-password}" class="login-section-container-options-link">
                        Forgot password?
                    </a>
                </div>
                <div class="login-section-form-buttons">
                    <button type="button" onclick="validateForm()" class="login-section-container-form-login">
                        Login now!
                    </button>
                    <a th:href="@{/signup}" class="login-section-container-form-signup">Create account</a>
                </div>
                <div class="login-section-form-social">
                    <div class="login-section-form-social-description-wrapper">
                        <hr class="login-section-form-social-description-line">
                        <span class="login-section-form-social-description">Or you can Join with</span>
                        <hr class="login-section-form-social-description-line">
                    </div>
                    <div class="login-section-form-social-icon-wrapper">
                        <a href="#" class="login-section-form-social-icon"><img src="/static/img/google-plus.svg"
                                                                                alt="Google Plus"></a>
                        <a href="#" class="login-section-form-social-icon"><img src="/static/img/facebook.svg"
                                                                                alt="Facebook"></a>
                        <a href="#" class="login-section-form-social-icon"><img src="/static/img/linked-in.svg"
                                                                                alt="Linked In"></a>
                        <a href="#" class="login-section-form-social-icon mr0"><img src="/static/img/twitter.svg"
                                                                                    alt="Twitter"></a>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
</body>

</html>