<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <script src="/static/js/domain.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/user-profile.css">
    <link rel="stylesheet" href="/static/css/short-url.css">
    <link rel="stylesheet" href="/static/css/full-url.css">
</head>

<body>
<header class="main-header">
    <a th:href="@{/url/landing}" class="main-header-logo"><img src="/static/img/iba-tech-logo-white.svg"
                                                               alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-username" th:text="*{userName}"></span>
                <div class="log-out-block">
                    <img src="/static/img/log-out-icon.svg" alt="Log out">
                    <a th:href="@{/logout}" class="log-out-btn">Log out</a>
                </div>
            </div>
            <img class="main-header-user-icon" src="/static/img/user-icon-with-background.svg" alt="User Icon">
        </div>
    </div>
</header>
<main class="full-url-bg-container">
    <img class="full-url-img" src="/static/img/full-url-robot.png" alt="flying robot">
    <div class="full-url-container">
        <h2 class="full-url-title">ENTER YOUR FULL URL</h2>
        <form action="#" method="post" class="full-url-input-container">
            <label for="urlBeforeShortened"></label>
            <input id="urlBeforeShortened" class="full-url-input" type="text"
                   placeholder="Enter your URL" style="box-shadow: none">
            <a class="full-url-btn" onclick="sendUrlToBack()">
                SHORTEN
            </a>
        </form>
        <table class="full-url-table">
            <thead>
            <tr>
                <th>Creation date</th>
                <th>Short URL</th>
                <th>Full URL</th>
                <th>Visit count</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mainPage, index : ${mainPageData}">
                <td th:text="${mainPage.creationDate}">21.02.2022</td>
                <td th:id="${index}" th:text="${mainPage.shortUrl}">https://cutt.ly/DyL7q0R</td>
                <td th:id="${index} + 1" th:text="${mainPage.fullUrl}">https://www.freepik.com/fr</td>
                <td>
                    <a href="#" th:text="${mainPage.visitCount}" th:shortUrlId="${index}"
                        onclick="fetchUrlVisitCountLogs(document.getElementById(this.getAttribute('shortUrlId')).textContent.split(MY_DOMAIN)[1])">
                    </a>
                    <a href="#" th:shortUrl="${index}"
                       onclick="window.open(MY_DOMAIN+document.getElementById(this.getAttribute('shortUrl')).textContent.split(MY_DOMAIN)[1]); return false;">
                        <img class="full-url-arrow" src="/static/img/full-url-arrow.png" alt="arrow">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- ===================== Visit count modal window ==========================-->
        <div class="modal" id="visitCountLogsModal">
            <div class="modal-window">
                <a class="cross" onclick="handleVisitCountLogsModalVisibility(false)">
                    <img src="/static/img/cross.png" alt="cross">
                </a>
                <h2 class="full-url-title modal-styles">Your short url</h2>
                <table>
                    <thead>
                    <tr>
                        <th>VisitDate</th>
                        <th>Short URL</th>
                        <th>Visit count</th>
                    </tr>
                    </thead>
                    <tbody id="short-url-table">
                    </tbody>
                </table>
                <a href="#" class="modal-main-btn" onclick="handleVisitCountLogsModalVisibility(false)">to main</a>
            </div>
        </div>


        <!-- ===================== Search modal window ==========================-->
        <div class="modal" id="UrlShortenerModal">>
            <div class="search-modal modal-window">
                <a class="cross" onclick="handleUrlShortenerModalVisibility(false)">
                    <img src="/static/img/cross.png" alt="cross">
                </a>
                <h2 class="full-url-title modal-search">Your short url</h2>
                <form action="" class="full-url-input-container modal-styles">
                    <input class="full-url-input" id="myInput" type="text" placeholder="Your URL">
                    <a class="full-url-btn modal-styles" onclick="copyToClipboard()">
                        copy
                    </a>
                </form>
                <a class="modal-main-btn" onclick="handleUrlShortenerModalVisibility(false)">to main</a>
            </div>
        </div>

        <script th:inline="javascript" type="text/javascript">
            let visitCountLogs = []

            function fetchUrlVisitCountLogs(shortUrl) {
                console.log(shortUrl);
                fetch(`${MY_DOMAIN}url/visitCountLogs/${shortUrl}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                }).then((res) => {
                    return res.json();
                }).then((res) => {
                    visitCountLogs = [...res]
                    fillLogsTable()
                    handleVisitCountLogsModalVisibility(true)
                })
            }

            function fillLogsTable() {
                const tableBody = document.getElementById('short-url-table');
                if (tableBody) {
                    tableBody.innerHTML = '';
                    visitCountLogs.forEach(item => {
                        const tr = document.createElement('tr');
                        Object.keys(item).forEach(key => {
                            const td = document.createElement('td');
                            td.innerText = item[key];
                            tr.append(td);
                        });
                        tableBody.append(tr);
                    });
                } else {
                    console.log('Element not found.');
                }
            }

            function sendUrlToBack() {
                const urlBeforeShortened = document.getElementById('urlBeforeShortened')
                console.log({a: urlBeforeShortened.value})
                fetch(`${MY_DOMAIN}url/shortenUrl`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(urlBeforeShortened.value)
                }).then((res) => {
                    return res.text()
                }).then((res) => {
                    document.getElementById('myInput').value = res
                    handleUrlShortenerModalVisibility(true)
                })
            }

            function handleUrlShortenerModalVisibility(show) {
                let element = document.getElementById('UrlShortenerModal');
                $(element).modal(show ? "show" : 'hide')
            }

            function handleVisitCountLogsModalVisibility(show) {
                let element = document.getElementById('visitCountLogsModal');
                $(element).modal(show ? "show" : 'hide')
            }

            function copyToClipboard() {
                let copyText = document.getElementById("myInput");
                copyText.select();

                navigator.clipboard.writeText(copyText.value);
            }

            $(document).on('hidden.bs.modal', '#UrlShortenerModal', function () {
                setTimeout(function () {
                    location.reload();
                }, 500);
            });
        </script>
    </div>
</main>
</body>
</html>
