<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/static/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="registration-container">
        <header class="header">
            <a th:href="@{/signup}" class="header-link"><img src="/static/img/iba-login-logo.png"
                    alt="IBA Tech Academy"></a>
        </header>
        <section class="registration-section">
            <img class="registration-section-image" src="/static/img/login-img.png" alt="robot w/ computers">
            <div class="registration-section-container">
                <h1 class="registration-section-container-title">Create an account</h1>
                <p class="registration-section-container-description">Create your account, it takes less than a minute.
                    If you already have an account - <a th:href="@{/login}"
                        class="registration-section-container-description-link">Login</a></p>
                <form action="#" th:action="@{/signup}" th:object="${user}" method="post" class="registration-section-container-form">
                    <div class="registration-section-container-form-input-wrapper">
                        <img src="/static/img/user-icon.svg" alt="User Icon">
                        <label for="name"></label>
                        <input class="registration-section-container-form-input" id="name" placeholder="name" type="text"
                               th:field="*{name}" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></p>
                    </div>
                    <div class="registration-section-container-form-input-wrapper">
                        <img src="/static/img/user-icon.svg" alt="User Icon">
                        <label for="surname"></label>
                        <input class="registration-section-container-form-input" id="surname" placeholder="surname" type="text"
                               th:field="*{surname}" />
                        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error-message"></p>
                    </div>
                    <div class="registration-section-container-form-input-wrapper">
                        <img src="/static/img/mail-icon.svg" alt="User Icon">
                        <label for="email"></label>
                        <input class="registration-section-container-form-input" id="email" placeholder="Email address" type="email"
                               th:field="*{email}" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>
                    </div>
                    <div class="registration-section-container-form-input-wrapper">
                        <img src="/static/img/lock-icon.svg" alt="User Icon">
                        <label for="password"></label>
                        <input class="registration-section-container-form-input" id="password" placeholder="Password" type="password"
                               th:field="*{password}" />
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
                    </div>
                    <div class="registration-section-container-form-input-wrapper mb0">
                        <img src="/static/img/lock-icon.svg" alt="User Icon">
                        <label for="confirm-password"></label>
                        <input class="registration-section-container-form-input" id="confirm-password" placeholder="Confirm Password"
                               type="password" />
                    </div>
                    <div id="error-msg">
                        <div class="fa fa-exclamation-circle" style="font-size:24px"></div>
                        <div class="text">Passwords do not match.</div>
                    </div>
                    <input id="submit-button" type="submit" value="Create account" class="registration-section-container-form-submit"/>
                </form>
                <script>
                    const passwordInput = document.getElementById("password");
                    const passwordFeedback = document.getElementById("password-feedback");
                    const submitButton = document.getElementById("submit-button");

                    const strongPasswordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

                    passwordInput.addEventListener("input", () => {
                        const password = passwordInput.value;
                        if (strongPasswordRegex.test(password)) {
                            passwordInput.setCustomValidity("");
                            passwordFeedback.textContent = "";
                            submitButton.disabled = false;
                        } else {
                            passwordInput.setCustomValidity("Password must contain at least 8 characters with a combination of letters, numbers, and special " +
                                "characters.");
                            passwordFeedback.textContent = "Password must contain at least 8 characters with a combination of letters, numbers, and special " +
                                "characters.";
                            submitButton.disabled = true;
                        }
                    });

                    const password = document.getElementById('password');
                    const confirm_password = document.getElementById('confirm-password');
                    const error_msg = document.getElementById('error-msg');
                    const submit_btn = document.getElementById('submit-btn');

                    function validatePassword() {
                        if (password.value !== confirm_password.value) {
                            error_msg.style.display = 'block';
                            submit_btn.disabled = true;
                        } else {
                            error_msg.style.display = 'none';
                            submit_btn.disabled = false;
                        }
                    }

                    password.addEventListener('input', validatePassword);
                    confirm_password.addEventListener('input', validatePassword);


                    const confirmPasswordInput = document.getElementById('confirm-password');
                    const errorMsg = document.getElementById('error-msg');

                    // Hide the error message when the page loads
                    errorMsg.style.display = 'none';

                    // Add event listeners to the password fields to check if the passwords match
                    passwordInput.addEventListener('input', checkPasswordsMatch);
                    confirmPasswordInput.addEventListener('input', checkPasswordsMatch);

                    // Add an event listener to the form's submit button to check if the passwords match
                    submitButton.addEventListener('click', function(event) {
                        if (!checkPasswordsMatch()) {
                            event.preventDefault(); // Prevent the form from being submitted
                        }
                    });

                    function checkPasswordsMatch() {
                        // Get the values of the password fields
                        const password = passwordInput.value;
                        const confirmPassword = confirmPasswordInput.value;

                        if (password !== '' && confirmPassword !== '') {
                            if (password !== confirmPassword) {
                                errorMsg.style.display = 'flex';
                                return false; // Passwords don't match
                            } else {
                                errorMsg.style.display = 'none';
                                return true; // Passwords match
                            }
                        } else {
                            errorMsg.style.display = 'none';
                            return false; // One or both fields are empty
                        }
                    }
                </script>
            </div>
        </section>
    </div>
</body>
</html>